@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.bold-font{
	font-family: BebasNeueRegular;
}

body {
	margin: 0px ;
	padding: 0px ;
	line-height: 1.5em;
	font-family: serif ,sans-serif !important;
	color: #555a4a;
	font-size:1.7em;
	background:#EFE6D7;
	/*background:#FAFAFA;*/
}
.navbar-default{
	background:#8F1F29	!important;
	border-bottom: 1px solid #78BFE5;
	color:white;
}
.navbar-default li a{
	color:white !important;
}
/*Reset*/
h1,h2,h3,h4,h5,h6,#main , div{
	margin:0px ; padding:0px;
}
#main {
	margin-top:15px;
}

/*
label  , .item{
	font-size:0.6em;
}
.header_container{
	background:#42A2CE !important;
}
.header_container .navbar{
	background:#42A2CE !important;
	border:none;
}
.header_container .navbar a{
	color:white !important;
	font-size:;
}
.form-inline .select_form  {
	margin-right:5px !important;	
}
article .title{
	margin:0px;
	padding:0px 0px 5px;
	border-bottom:1px solid #DDDDDD;
	font-size: 2em;
}
table td{
	font-size: 1em;
}
table tr.header{
	font-weight: bold;
	font-size:1.2em;
}
table{
	margin: 8px 3px 0px;
}
.pagination{
	margin:5px 0px;
}
*/
/*Login*/
body.login_body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F1F1F1 !important;
}
body.login_body .center{
	margin: 20px auto;
	text-align:center !important;
	background:transparent;
}
body.login_body .login {
	margin: 10px auto;				
	max-width: 275px;
	border-radius:7px;
}
body.login_body .login form{				
	background: white;
	margin-bottom:10px;
}
body.login_body .item:not(span) ,  .login form{
	padding: 15px;
}
body.login_body .item  {
	color:#99A4BC;
}
body.login_body .login input[type='text'] , body.login_body .login input[type='password'] {
	padding:5px !important;
	margin:0px !important;
}
