/*@import url('reset.css');*/
@import url('normalize.css');

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0px ;
	padding: 0px ;
	line-height: 1.5em;
	font-family: serif ,sans-serif !important;
	color: #555a4a;
	font-size:1.7em;
}
.navbar-default{
	background:#8F1F29	!important;
	border:none;
	border-bottom: 1px solid #78BFE5;
	color:white;
}
.navbar-default li a{
	color:white !important;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

/*Reset*/
h1,h2,h3,h4,h5,h6,#main , div{
	margin:0px ; padding:0px;
}
#main {
	margin-top:15px;
}
.green{
	color:#00FF00;
}
.red{
	color:red;
}
.gold{
	color:#FFD700;
}

.blue{
	color: #87cefa;
}

.white{
	color:white;
}
.very_small{
	font-size:0.7em;
}
.bold-font{
	font-family: BebasNeueRegular;
}
.title_post , .entry-title  , aside .widget-title , footer[role='contentinfo']{
    font-family: BebasNeueRegular ;
}
.title_post , .widget-title{
    background: url(../../asset/images/point-icon.png) left no-repeat;
    border-bottom: 1px solid #C2BBAF;
    font-weight: bold;
    /*margin-top:30px !important;*/
    margin-bottom:10px;
    padding: 10px 4px 5px 30px;
}

.login-area{
	background:white;
	border-radius:10px;
	padding:10px;
	 box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
/*Login*/
body.login_body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #F1F1F1 !important;
}
body.login_body .center{
	margin: 20px auto;
	text-align:center !important;
	background:transparent;
}
body.login_body .login {
	margin: 10px auto;				
	max-width: 275px;
	border-radius:7px;
}
body.login_body .login form{				
	background: white;
	margin-bottom:10px;
}
body.login_body .item:not(span) ,  .login form{
	padding: 15px;
}
body.login_body .item  {
	color:#99A4BC;
}
body.login_body .login input[type='text'] , body.login_body .login input[type='password'] {
	padding:5px !important;
	margin:0px !important;
}
